body{
	background-image: url("fundo.png"), url("terra.png");
	background-size: contain;
	background-repeat: no-repeat, repeat;
}
#links{
        color: white;
    	-webkit-text-stroke: 2px black;
	font-size: 38px;
    	text-decoration: none;
}
#titulo{
        text-align: center;
        font-size: 50px;
    	color: #F0E68C;
        -webkit-text-stroke: 3px black;
}
#subtitulo{
        text-align: center;
        font-size: 25px;
        color: white;
	-webkit-text-stroke: 2px black;
}
#historia{
        text-align: center;
    	color: black;
	font-size: 25px;
}
#personagens{
	text-align: center;
    	color: black;
	font-size: 25px;
}
#comojogar{
        color: black;
        text-align: center;
	font-size: 25px;
}
#fotos{
	size: 20px;
}
#personagensname{
	text-align: center;
	font-size: 25px;
}
#paragrafo{
	text-align: center;
	font-size: 25px;
}
footer{
        background-color: #f5e664;
    	width: 100%;
    	color: black;
	font-size: 20px;
    	text-align: center;
	position: absolut;
    	font-weight: bold;
}
      
