body{
	background-image: fundo.png;
}
#paragrafo{
	text-align: center;
	font-size: 15px;
}
            #titulo{
            	text-align: center;
            	font-size: 50px;
            	color: #F0E68C;
            	-webkit-text-stroke: 3px black;
	    }
            #subtitulo{
                text-align: center;
                font-size: 25px;
                color: white;
                -webkit-text-stroke: 2px black;
            }
            #links{
            	color: white;
            	-webkit-text-stroke: 2px black;
              	font-size: 35px;
            	text-decoration: none;
            }

            #historia{
            	text-align: center;
            	color: black;
		font-size: 15px;
            }

            #personagens{
            	text-align: center;
            	color: black;
		font-size: 15px;
            }

            #comojogar{
            	color: black;
            	text-align: center;
		font-size: 15px;
            }


            footer{
            	background-color: #f5e664;
            	width: 100%;
            	color: black;
            	font-size: 20px;
            	text-align: center;
            	position: absolut;
            	font-weight: bold;
            }
      
